<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotels | Staff Members</title>
</head>
<body>
  <h1>Welcome to Landon Hotel | Staff Members</h1>
  <table>
    <tr>
      <td>Staff ID</td>
      <td>Name</td>
      <td>Position</td>
    </tr>
    <tr th:each="staff: ${staffMemberDetails}">
      <td th:text="${staff.getEmpID()}"></td>
      <td th:text="${staff.getEmpLastName()}+','+${staff.getEmpFirstName()}"}></td>
      <td th:text="${staff.getEmpPosition()}"></td>
    </tr>
  </table>

</body>
</html>