<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>London Hotel: Guest List</title>
</head>
<body>
  <h1>List of all Guests</h1>
  <table>
    <tr>
      <td>Name</td>
      <td>Email</td>
      <td>Phone</td>
      <td>Country</td>
    </tr>
    <tr th:each="guest: ${guestDetails}">
      <td th:text="${guest.getLastName()}+','+${guest.getFirstName()}">Full Name</td>
      <td th:text="${guest.getEmail()}"> Email</td>
      <td th:text="${guest.getPhoneNumber()}">Phone</td>
      <td th:text="${guest.getCountry()}">Country</td>
    </tr>
  </table>
</body>
</html>